<div class="container">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row mt-2">
            <div class="col-md-12">
                <div class="alert alert-success" role="alert" *ngIf="success">
                    {{ success }}
                </div>
            </div>
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="mt-2"> Nova Tarefa </h3>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome da Tarefa: </label>
                    <input type="text" name="title" class="form-control" [(ngModel)]="task.title" required="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-danger ml-2" (click)="backToList()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>

<h2 class="mt-4 ml-2">Tarefas da Atividade {{ activity.title }}</h2>
<div class="container">
    <div class="row">
        <div class="col-md-12 mt-4">
            <table class="table table-condensed table-hover">
                <thead>
                    <tr>
                        <th>Nome da Atividade</th>
                        <th>Finalizada?</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let task of tasks">
                        <td><b> {{ task.title }} </b></td>
                        <td *ngIf="task.status == 'Pendente'">
                            <i class="fas fa-check-square"></i>
                        </td>
                        <td *ngIf="task.status == 'Concluida'" class="text-success">
                            <i class="fas fa-check-square"></i>
                        </td>
                        <td>
                            <button class="btn btn-warning ml-2" (click)="selectedTask(task)" data-toggle="modal"
                                data-target="#updateModal">
                                <i class="fa fa-edit"></i>
                            </button>
                            <button type="button" class="btn btn-danger ml-2" data-toggle="modal"
                                data-target="#deleteModal" (click)="selectedTask(task)">
                                <i class="fa fa-solid fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Excluir Tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="taskSelected">
                    Realmente Pretende Excluir Esta Tarefa?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="deleteTask()" data-dismiss="modal">
                        Confirmar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Excluir Tarefa</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" *ngIf="taskSelected">
                    <form #taskUpdateForm="ngForm">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nome da Tarefa Atual: </label>
                                <input type="text" name="currentTitle" class="form-control"
                                    [(ngModel)]="taskSelected.title" disabled="true" />
                            </div>
                            <div class="form-group">
                                <label>Novo Nome da Tarefa: </label>
                                <input type="text" name="title" class="form-control" [(ngModel)]="newTitle" />
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" (click)="updateTask()" data-dismiss="modal">
                        Confirmar
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
</div>