<div class="container">
    <form #taskForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <h3 class="mt-4"> Nova Tarefa </h3>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome da Tarefa: </label>
                    <input type="text" name="title" class="form-control" [(ngModel)]="activity.title" required="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-danger ml-2">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form>
</div>

<!-- <h1 class="mt-4 ml-2">Tarefas da Atividade {{ activity.title }}</h1>
<div class="container">
    <form #taskListForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mt-4">
                <table class="table table-condensed table-hover">
                    <thead>
                        <tr>
                            <th>Nome da Atividade</th>
                            <th>Descrição da Atividade</th>
                            <th>Status</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let activity of activities">
                            <td><a href="/activity/current-activity/{{ activity.activityId }}"><b>{{ activity.title }}</b></a></td>
                            <td>{{ activity.description }}</td>
                            <td *ngIf="activity.status == 'Pendente'">
                                <p class="text-warning"><b>{{ activity.status }}</b></p>
                            </td>
                            <td *ngIf="activity.status == 'Finalizado'">
                                <p class="text-primary"><b>{{ activity.status }}</b></p>
                            </td>
                            <td>
                                <button class="btn btn-success" routerLink="/task/new/{{ activity.activityId }}">
                                    <i class="fa fa-sharp fa-solid fa-plus"></i>
                                </button>
                                <button class="btn btn-warning ml-2"
                                    routerLink="/activity/edit/{{ activity.activityId }}">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="btn btn-danger ml-2" data-toggle="modal"
                                    data-target="#exampleModal" (click)="selectedActivity(activity)">
                                    <i class="fa fa-solid fa-trash"></i>
                                </button> 
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </form>
</div> -->

        <!-- <div class="row">
            <h3 class="mt-4"> Nova Tarefa </h3>
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome da Tarefa: </label>
                    <input type="text" name="title" class="form-control" [(ngModel)]="activity.title" required="true" />
                </div>
            </div>
        </div> -->

<!-- <form #activityForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-danger" role="alert" *ngFor="let erro of errors">
                    {{ erro }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Nome da Atividade: </label>
                    <input type="text" name="title" class="form-control" [(ngModel)]="activity.title" required="true" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label>Descrição da Atividade</label>
                    <textarea class="form-control" name="description" rows="3" [(ngModel)]="activity.description"></textarea>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-save"></i> Salvar
                </button>
                <button type="submit" class="btn btn-danger ml-2" (click)="backToList()">
                    <i class="fa fa-arrow-alt-circle-left"></i> Voltar
                </button>
            </div>
        </div>
    </form> -->